* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header{
    background-color: rgb(156, 50, 161);
    color: white;
    padding: 5px;
  } 

  h1
  {
    margin-left: 50px;
  }
.Registration
{
    background-color:rgb(254, 250, 253);
    display: flex;
    max-width: 1100px;
    margin: 100px auto;
    height: auto;
    padding: 10px;
    box-shadow:  2px 4px 6px rgba(104, 68, 98, 0.2);
    border-radius: 4px;
    }
    form{
        width: 40%;
        margin-left: 10%;
        padding: 10px;
    }
    form label {
        display: block;
        font-weight: bold;
        font-size: 1.25em;
        margin-top: 5px;
        color: rgb(34, 34, 153);
       
      }
      
      form input {
        width: 80%;
        padding: 8px;
        margin-bottom: 5px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      .error {
        color: red;
        font-size: 0.9em;
        display: none;
    }
      button {
        width:40%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color: #5d37f8;
        color: #fff;
        font-size: 1rem;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
      
      button:hover {
        background-color: #ea60ec;
      }

      .showList{
        width: 40%;
      }
     table{
        width: 100%;
        padding: 5px;
        border-collapse: collapse;  
       
     }
      h2{
        color: rgb(208, 21, 196);
        text-align: center;
        margin-bottom: 10px;
      }

      table, th , td{
        border: 2px solid #5c168b;
        color: #4e01f4;
        padding: 10px;
        text-align: left;
      
        
      }
      
     th{
      background-color: #ea36ed;
       }

 
/* Action buttons in table */
.action-btn {
    padding: 5px 10px;
    margin-right: 5px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .edit-btn {
    background-color: #1f27c0;
    width: auto;
    height: auto;
  }
  
  .edit-btn:hover {
    background-color: #e85ed5;
  }
  
  .delete-btn {
    background-color: #c8457c;
    width: auto;
    height: auto;
    margin-top: 5px;
  }
  
  .delete-btn:hover {
    background-color: #5e91e9;
  }
  
  footer{
    background-color: rgb(156, 50, 161);
    color: white;
    padding: 5px;
    margin-top: 150px;
    text-align: center;
  }

  footer ul{
    display: flex;
    justify-content: center;
  }

footer ul li{
  list-style: none;
  padding: 5px;
  font-size: 30px;

}

